* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #361a5e;
    text-align: center;

}

h1{
    font-size: 70px;
    text-decoration: underline;
    color: rgb(11, 239, 144);
}
.container{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;

}

.game{
    height: 57vmin;
    width: 57vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(68, 61, 61);
    font-size: 8vmin;
    color: red;
    cursor: pointer;
    background-color: rgb(227, 231, 114);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    font-family: math;
    background-color: rgb(173, 33, 129);
    color: rgb(255, 254, 254);
    border-radius: 1rem;
    border: none;
    cursor: pointer;

}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    font-family: math;
    background-color: rgb(173, 33, 129);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.msg{
    color: rgb(242, 201, 15);
    font-size: 5vmin;

}

.msg-container{
    height: 30vmin;
    gap: 2rem;

}

.hide{
    display: none;
}
